/* CSS Document */
body {
	margin: 0;
	overflow: scroll;
}

.page {
  	max-width: 70rem;
	position: relative;
	margin: 0 auto;
}
.inner {
	flex: 1;
	background: aqua;
	border-radius: 3rem;
}

.flex {
    display: flex;
	flex-direction: row;
	width: 100%;
	height: 80%;
}
.footer {
	width: 100%;
	background: red;
	height: 20%;
	
}

/* Home section */
/* containers Home */
.containerHeader{
	position: sticky;
	top: 1rem;
	margin: auto;
	height: 6rem;
	align-content: center;
	text-align: center;
}
.container {
	border-radius: 4rem 4rem 0 0;
}

#container2 {
	position: sticky;
	background-image: url('./Cyrus_Kirin_watermark.png');
	z-index: 1;
	height: 64rem;
	margin-bottom: -4rem;
	top: 1rem;
	padding: 2rem;
}
#container3 {
	position: sticky;
	background: red;
	z-index: 3;
	height: 64rem;
	margin-bottom: -4rem;
	top: 8rem;
}
#container4 {
    position: relative;
    background: orange;
    z-index: 3;
	padding: 3rem;
	height: 64rem;
}
/*Hero Card */
#container1 {
	border-radius: 3rem;
	margin: calc(50vh - 15rem) auto;
	background: red;
	width: 55rem;
	height: 35rem;
  padding: 1.25rem;
  transition: all 0.3s ease-in-out;
}
 #heroInner {
  width: auto;
  height: 100%;
  background: rgb(115, 255, 0);
  border-radius: 2.5rem;
  mask:  url('assets/home/square-corner.svg');
  mask-position: top right;
  mask-size: 70rem;
 }
/*Commissions hero*/
    .commissionsHeroSidebar {
      display: flex;
      flex-direction: column;
      width: 15rem;
      height: 35rem;
    }
    .itemHeroCommissions {
      flex: 1;
      background-color: #ccbeaa;
      margin: 0.5rem 0;
      border-radius: 1.5rem;
      transition: flex 0.3s ease, background-color 0.3s ease, background-position 0.3s ease, color 0.3s ease;
      display: flex;
      justify-content: center;
      align-items: end;
      color: transparent;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      padding-bottom: auto;
      background-size: cover;
      background-position: center;
      padding-bottom: 30px;
    }
  
    .itemHeroCommissions:hover {
      flex: 2;
      background-color: #b96a29;
      color: white;
      background-position: center;
    }
  
    .itemHeroCommissions:not(:hover) {
      flex: 0.5;
    }
  
    .half-bodyCommission:not(:hover) {
      background-position: 0 -40px;
    }
  
    .full-bodyCommission:not(:hover) {
      background-position: 0 -10px;
    }
  
    .commissionsHeroContainer {
      display: flex;
      height: fit-content;
      border-radius: 2rem;
      padding: 1rem;
	  width: auto;
      background: gray;
    }
  
    .commissionsHeroBackground {
      width: calc(100% - 220px);
      height: auto;
      margin-left: 20px;
      background-image: url('assets/home/bg.png');
      background-size: 120%;
      background-position: center;
      mask: url('assets/home/container.svg');
      mask-position: bottom right;
      mask-size: 65rem;
      border-radius: 2rem;
      overflow: hidden;
      position: relative;
    }
    .containerHeroMain.active {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    } 
  
    .containerHeroMain {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      transition: visibility 0s, height 0s, opacity 0.5s, transform 0.5s;
      background-color: none;
      pointer-events:none;
    }
  
    #commissionsHeroCharacter {
      background-image: url('../assets/kagogi icon.png');
      height: 100%;
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 120%;
      opacity: 1;
      transition: visibility 0s, height 0s, opacity 0.5s, backgroundImage 0.5s;
    }
    .commissionsHeroHeader {
      font-size: 200pt;
      z-index: 300;
    }
    #callForActionPortfolio {
      position: absolute;
      right: 8rem;
	    top: 39rem;
      background-color: red;
      width: 15rem;
      height: 5rem;
      border-radius: 100px;
      text-align: center;
      align-content: center;
    }
    #callForActionPortfolioCircle {
      position: absolute;
      right: 3rem;
	  top: 39rem;
      background-color: rgb(255, 0, 200);
      width: 5rem;
      height: 5rem;
      border-radius: 100px;
      text-align: center;
      align-content: center;
    }

@media screen and (orientation:portrait) {
  #container1 {
    border-radius: 3rem;
    margin: calc(50vh - 15rem) auto;
    background: red;
    width: 35rem;
    height: 55rem;
    padding: 1.25rem;
    transition: all 0.3s ease-in-out;
  }
}
@media screen and (max-height: 50rem){
	.page {
		background: blue;
	}
	#container2 {
		top: calc(100vh - 64rem);
	}
	#container3 {
		top: calc(100vh - 64rem);
	}
}